#page-header {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF8C42;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}

@media only screen and (min-width: 1024px) {

  #page-header {
    width: 40vw;
    float: left;
    margin-right: 3vw;
    margin-top: 8vh;
    height: 500px;
  }
 
  #layout-shifter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6vh;
    width: 90vw;
 } 

}