$bungee-font: 'Bungee', sans-serif;

nav {
  top: 0;
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
  padding-right: 4em;

span {
  font-family: $bungee-font;
  font-size: 1.5em;
  }

}

nav > * {
  margin: 1.5em;
}

#nav-new-tweet {
  padding: .5em;
}

#nav-new-tweet:hover {
  cursor: pointer;
}

@mixin distanceFromLowerRight($distance) {
  right: $distance;
  bottom: $distance;
  }

#sticky-button {
  position: fixed;
 @include distanceFromLowerRight(1em);
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  background-color: #F23336;
  border: transparent;
  cursor: pointer; 
  display: none;
}