$light-background: #f4f1ec;

button {
  background-color: #4056a1;
  color: #FFFFFF;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .75em;
}

#tweet-text {
  background-color: $light-background;
  border: transparent;
  outline: none;
  resize: none;
  overflow: hidden;
  border-bottom: solid 2px black;
  display: flex;
  width: 90%;
  margin: .3em;
}

.new-tweet {
  display: none;
}

.isa_error {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px red solid;
  color: red;
  background-color: lightpink;
  margin: 1em;
  padding: .6em;
  display: none;
}

@media only screen and (min-width: 1024px) {

  .new-tweet {
    width: 43vw;
  }

}