$light-background: #f4f1ec;
$hover-shadow: #D3D3DA;
$source-font: 'Source Sans Pro', sans-serif;

article {
  font-family: $source-font;
  font-size: 90%;
  font-weight: normal;
  border: .25em solid;
  filter: blur(.4px);
  display: flex;
  background-color: $light-background;
  flex-direction: column;
  margin-bottom: 2em;

&:hover {
  box-shadow: .5em .5em $hover-shadow;
  filter: blur(0px);
}

&:hover .article-tweet-userhandle {
  visibility: visible;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: .75em;
}

.article-tweet-userhandle {
  margin-left: auto;
  color: $hover-shadow;
  visibility: hidden;
}

p {
  margin-left: 1em;
  word-break: break-all;
}

img {
  height: 2.5em;
  width: 2.5em;
  margin-right: .4em;
}

hr {
border: 2px solid;
width: 97.5%;
margin-bottom: 0em;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 60%;
  margin: 1em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  color: #4056a1;


span {
  margin-right: auto;
  color: #545149;
}

i {
  margin-right: .9em;
}

}
}